body {
  margin: 0;
  padding: 20px;
  background-color: #333333;
  color: #c3c2c2; 
}

.portafolio {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.profile-img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-left: calc(50% - 110px);
  object-fit: cover;
}

header {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
}

.technologies {
  all: unset;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #666666;
  padding: 20px 0;
  margin-top: 50px;
}

.technologies-item {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0 10px;
  margin-top: 20px;
}

.technologies-item h5 {
  all: unset;
}

.technologies-item .bx {
  font-size: 2rem;
  color: #51a1f6;
}

.container-media-project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}

.container-media-project img {
  width: 100%;
  height: auto;
}

.container-media-project-unibarranquilla {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.container-media-project-solarapp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.container-media-project-solarapp img {
  width: 100%;
  height: auto;
}

.container-media-project-unibarranquilla img {
  width: 100%;
  height: auto;
}

main {
  margin-top: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

span {
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

a {
  color: #51a1f6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 40px;
  text-align: center;
  color: #666;
}

@media (width < 500px) {
  .portafolio {
    font-family: Arial, sans-serif;
    max-width: 800px;
  }
  .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: calc(50% - 75px);
    object-fit: cover;
  }
}
